
body{
  font-family: museo-sans, sans-serif;
font-style: bold;
font-weight: 100;
}

h1,p{
  font-family: museo-sans-display,sans-serif;
font-weight: 800;
font-style: normal;
}

#container{
  margin-left: 5rem;
  margin-right: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 12px;
}
.span-col-4{grid-column: span 4 / auto;}

.span-col-2{grid-column: span 2 / auto;}

.span-col-3{grid-column: span 3 / auto;}

.span-col-6{grid-column: span 6 / auto;}

.span-row-4{grid-row: span 4 / auto;}

.span-row-6{grid-row: span 6 / auto;}

.span-row-5{grid-row: span 5 / auto;}
