
body{
  font-family: museo-sans, sans-serif;
font-style: bold;
font-weight: 100;
}

h1,p{
  font-family: museo-sans-display,sans-serif;
font-weight: 800;
font-style: normal;
}

#container{
  margin-left: 5rem;
  margin-right: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.span-col-4{grid-column: span 4 / auto;}


.row1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 15rem;
}


.row2-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    height: 20rem;
}
